/* ds-tour.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.custom-header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.custom-header .contact-info {
  text-align: center;
  margin-bottom: 10px;
}

.custom-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.custom-header nav ul li {
  margin: 0 15px;
}

.custom-header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.banner {
  background-color: #4caf50;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.tour-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px; /* Khoảng cách giữa các tour */
}

.tour-item {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  margin: 10px;
  width: 30%; /* Chiều rộng mỗi tour chiếm 30% để mỗi hàng hiện 3 tour */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box; /* Đảm bảo padding và border không làm tăng chiều rộng tổng cộng */
}

.tour-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tour-image {
  position: relative; /* Thiết lập vị trí tương đối để đính box-tour-price */
}

.tour-image img {
  width: 100%;
  height: 200px; /* Chiều cao cố định cho hình ảnh */
  object-fit: cover; /* Đảm bảo hình ảnh bao phủ toàn bộ không gian mà không bị biến dạng */
}

.tour-price {
  position: absolute;
  bottom: 10px; /* Khoảng cách từ dưới lên */
  left: 250px; /* Khoảng cách từ bên trái */
  background-color: rgba(0, 0, 0, 0.7); /* Nền màu đen với độ trong suốt */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.tour-details {
  padding: 15px;
  height: 250px; /* Chiều cao cố định cho phần chi tiết */
  overflow: hidden; /* Ẩn các nội dung vượt quá chiều cao */
}

.tour-title {
  font-size: 18px;
  margin: 10px 0;
}

.tour-info {
  margin: 5px 0;
}

.tour-dates div {
  font-size: 14px;
  color: #757575;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
