body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
#packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.package {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: calc(33.333% - 2rem); /* Đảm bảo mỗi hàng hiển thị 3 tour */
  text-align: center;
  cursor: pointer;
}

.package .package-img {
  position: relative;
  overflow: hidden; /* Đảm bảo phần ảnh k bị zoom ra ngoài khung*/
}

.tour-price {
  position: absolute;
  width: 35%;
  top: 35%; /* Khoảng cách từ trên xuống*/
  right: 0; /* Khoảng cách từ phải qua */
  background-color: rgb(248, 153, 45); /* Nền màu đen với độ trong suốt */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.package:hover img {
  transform: scale(1.2); /* Làm ảnh to ra khi di chuột vào */
}

.package img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  transition: transform 1s ease;
}

.package h2 {
  margin: 0.5rem 0;
  color: #333;
}

.package p {
  margin: 0.5rem;
  color: #666;
}

.package button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
}

.package button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
