* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: black;
  font-weight: 400;
  background-image: url(https://img5.thuthuatphanmem.vn/uploads/2021/10/20/background-du-lich-bau-troi_110850711.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-collapse {
  border: none;
}

#mainheader.scrolled {
  background-color: white;
  color: black;
}

#mainheader.scrolled .navbar a {
  color: black;
}
.search-button {
  margin-right: 50px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-bottom 0.3s;
}

.search-button {
  background-color: #ffa500;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

.forgot-password {
  text-align: right;
  margin-bottom: 15px;
}

.forgot-password a {
  text-decoration: none;
  color: #007bff;
}

.forgot-password a:hover {
  color: #0c57a8;
}

.login-btn {
  background-color: #007bff;
  color: white;
  font-weight: 3em;
  margin-right: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0c57a8;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #ab1726;
}

.register {
  text-align: left;
  margin-top: 5px;
}
.register a {
  text-decoration: none;
  color: #007bff;
}
