/* Header */
.top-header {
  padding: 5px 0;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 12px;
  line-height: 21px;
  background: #0072bc80;
  background: rgba(87, 128, 158, 0.7);
  top: 0;
}

.left-top-header {
  gap: 30px;
  padding-left: 160px;
  width: 100%;
  display: flex;
}

.right-top-header {
  justify-content: flex-end;
  gap: 30px;
  padding-right: 170px;
  width: 100%;
  display: flex;
}

.item-left-top-header {
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

/* Parent Row - Flexbox Container */
.row {
  display: flex;
  justify-content: space-between; /* Ensures even spacing between items */
  align-items: stretch; /* Ensures all items are of equal height */
  gap: 20px; /* Optional spacing between items */
  margin: 0 auto;
  flex-wrap: wrap; /* Ensures responsiveness for smaller screens */
  max-width: 1200px; /* Control container width */
  padding: 20px;
}

.container {
  padding-left: 140px;
}

.navbar {
  background-color: transparent; /* Sử dụng màu nền với độ trong suốt */
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  position: absolute;
  display: flex;
  top: 20px; /* Điều chỉnh vị trí của navbar */
  width: 100%;
  margin-top: 12px;
  padding-top: 10px;
  margin-left: 27%;
  z-index: 1000; /* Đảm bảo navbar nằm trên cùng */
}

.navbar-header .navbar-brand {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  margin: 0px 10px 10px;
  padding: 15px 20px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

.navbar-header > a:hover {
  color: orange;
  text-decoration-color: orange;
}

/* Nút menu items khi màn hình bị thu nhỏ lại */
.navbar-toggle {
  background-color: #444;
  border: none;
}

.navbar-nav > li {
  display: inline-block;
  vertical-align: top; /* Giữ các phần tử ngang hàng nhau*/
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-collapse {
  border: none;
}

/* Styling for the dropdown menu */
.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000; /*Đảm bảo position luôn nằm trên các phần tử khác*/
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  border: none;
  margin: 0;
  border-radius: 0;
  background-color: white;
}

.mega-dropdown:hover .mega-dropdown-menu {
  display: flex;
}

.mega-dropdown-menu > li > ul {
  flex: 1;
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  color: #333;
}

.mega-dropdown-menu > li > ul > li a {
  display: block;
  color: #333;
  padding: 5px 15px;
  text-decoration: none;
}

.mega-dropdown-menu > li ul > li.dropdown-header {
  font-size: 18px;
  font-weight: bold;
  color: #ff5733;
  margin-left: 15px;
}

.mega-dropdown-menu > li ul > li a:hover {
  background-color: #f8f8f8;
  color: orange;
}

.navbar-nav > li > a {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  margin: 0px 10px 10px;
  padding: 15px 20px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

.navbar-nav > li > ul {
  margin-top: 10px;
}

.navbar-nav > li > form {
  display: inline-block;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mega-dropdown-menu {
    position: static;
  }
}

.login-container {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 110px;
  padding-top: 110px;
  padding: 10px 10px 10px 10px;
}

.login h2 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 16px;
}

.social-login {
  flex: 1;
  width: 40%;
  justify-content: space-between;
  margin-top: 30px;
}

.login-container .separator {
  content: "d";
  display: block;
  height: 300px;
  width: 1px;
  background-color: #000;
  margin-left: 20px;
  flex-shrink: 0;
}

.social-login button {
  width: 100%;
  height: 100 px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

.social-login p {
  font-size: 12px;
  margin-bottom: 10px;
}

.social-login .facebook {
  background-color: #3b5998;
}

.social-login .google {
  background-color: #db4437;
  margin-top: 5px;
}

.login {
  width: 60%;
  margin-left: 20px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.3s ease;
  pointer-events: none;
  color: #999;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  top: -15px;
  left: 10px;
  font-size: 10px;
  color: #7f22f0;
}

.remember {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.remember input {
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.register {
  text-align: left;
  margin-top: 5px;
}

.register a {
  text-decoration: none;
  color: #007bff;
}

.register a:hover {
  color: #024a96;
}
